form{
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.is-valid{
    border: 1px solid green;
    outline: 1px solid green;
}

input.is-invalid{
    border: 1px solid red;
    outline: 1px solid red;
}
.errorMsg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.btn{
    width: 30%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn:hover{
    background-color: green;
    cursor: pointer;
}


